.favorite-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #D9D9D9;
    color: black;
    box-sizing: border-box;
    border: 2px solid rgb(200, 192, 192);
    border-radius: 10px;
    padding: 10px;
    height: 50%;
    margin: 2%;
    contain: content;
}