.fav-quotes {
    background: #FA568F;
    border-radius: 18px;
    border: 1px solid #deaac4;
    padding: 20px;
    contain: content;
    margin-top: 1%;
}

.saved-translation-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
    justify-content: center;
    height: 100vh;
    width: 100%;
    contain: content;
}
      
button {
    border-radius: 10px;
    height: 50px;
    width: 175px;
    background: #40F5E5;
    font-size: 90%;
    contain: content;
}