.App {
  font-family: 'Nunito Sans';
  display: grid;
  padding: 1em;
  text-align: center;
}

.translate-and-new-quote-button-container, .save-and-view-faves-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em; 
}

button {
  border-radius: 10px;
  height: 50px;
  width: 175px;
  background: #40F5E5;
  contain: content;
  margin-bottom: -3em;
}