.kanye-quote {
  display: flex;
  font-family: 'Nunito Sans';
  background: #FA568F;
  color: white;
  text-shadow: 30px solid black;
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  height: 50%;
  width: 100%;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
}
.quote-container {
  padding: 2em;
  margin-top: -2em;
  margin-bottom: -5em;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  contain: content;
  text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000
}

.quote-box {
  margin-left: 2em;
  margin-bottom: -1em;
  margin-top: -2em;
  padding: .5em;
  height: 20em;
  width: 200%;
  contain: content;
}

img {
  margin-left: 2em;
  height: 15em;
  width: 20em;
  border-radius: 27px;
}