.header {
    min-height: 40%;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid whitesmoke;
    /* background:#182132; */
    padding: 10px;
    color: whitesmoke;
    font-size: 2em;
}