.translation-container {
  display: flex;
  align-self: center;
  contain: content;
  height: 100%;
  text-shadow: 1px 1px 0 #000,
  -1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000,
  0px 1px 0 #000,
  0px -1px 0 #000,
  -1px 0px 0 #000
}

.translation-box {
  margin-left: 10%;
  padding: 10px;
  height: 100%;
  width: 200%;
  contain: content;
}

button {
  border-radius: 10px;
  background: #40F5E5;
  font-size: 90%;
  contain: content;
}