.translation-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  contain: content;
  text-shadow: 1px 1px 0 #000,
  -1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000,
  0px 1px 0 #000,
  0px -1px 0 #000,
  -1px 0px 0 #000,
  1px 0px 0 #000,
  2px 2px 0 #000,
  -2px 2px 0 #000,
  2px -2px 0 #000,
  -2px -2px 0 #000,
  0px 2px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 0px 0 #000,
  1px 2px 0 #000,
  -1px 2px 0 #000,
  1px -2px 0 #000,
  -1px -2px 0 #000,
  2px 1px 0 #000,
  -2px 1px 0 #000,
  2px -1px 0 #000,
  -2px -1px 0 #000;
}

.translation-box {
  flex-direction: row;
  margin-left: 25%;
  /* padding: 10px; */
  justify-content: center;
  align-self: center;
  height: 50%;
  width: 50%;
  contain: content;
}

/* .triangles1 {
  display: flex;
  justify-content: space-between;
  margin: 0;
} */

button {
  border-radius: 10px;
  height: 50px;
  width: 175px;
  background: #40F5E5;
  /* color: whitesmoke bold; */
  font-size: 90%;
  contain: content;
}