body {
  margin: 0;
  background:#182132;
  font-family: 'Nunito Sans';
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../src/backdrop-image.png)
}
.font-link {
  font-family: 'Nunito Sans';
}

code {
  font-family: 'Nunito Sans';
}
